<div class="row">
    <div class="col-md-8">
        <div class="media">
        <br />
   
            <div class="media-body">
                <h2 class="media-heading"><%= @user.name %></h2>
                <small>
                <%= pluralize(@user.posts.count, 'post') %>,
                <div class='js-comments-count'><%= pluralize(@user.comments.count, 'comment') %></div>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Posts</h2>
        <%= render @user.posts %> 
    </div>  
    <div class="col-md-6">
        <h2>Comments</h2>
        <%= render @user.comments %> 
    </div> 
</div> 